---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="My Blog" description="index page for my blog">
  <ul>
    <li>
      <a href="./post-1/">Post 1</a>
    </li>
    <li>
      <a href="./post-2/">Post 2</a>
    </li>
  </ul>
</MainLayout>
