---
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="about" description="about page for blog">
  <section class="container about" aria-label="about me">
    <img src="/images/avatar.png" alt="My headshot" width="200" height="200" />
    <div class="content">
      <h1 class="h1">My blog</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
        corrupti voluptatem, minus illum velit nulla numquam aliquid officiis
        sapiente, repellendus rerum eligendi vel dicta inventore debitis in ea
        quam a!
        <Link
          href="mailto:brian.stempien@protonmail.com"
          style="primary"
          text="Contact"
        />
      </p>
    </div>
  </section>
</MainLayout>
